{{!-- Container de cadastro --}}
<div id="ProdContainer">

    {{!-- Título do formulário --}}
    <div id="titulo-form">
        <p> Cadastro de Produtos </p>
    </div>
    
    {{!-- Breve descriçao para o usuário --}}
    <p id="subtitulo-form"> Cadastre aqui os produtos da sua loja. </p>

    {{!-- Div para o formulário de cadastro dos produtos --}}
    <div id="form-principal">

        {{!-- Formulário de cadastro --}}
        <form action="/cadastrar" method="POST" id="form-cad">
            
            {{!-- Div para input: nome --}}
            <div id="input-nome">
                <label for="nome"> Nome </label>
                <input type="text" name="nome" placeholder="Nome do produto">
            </div>

            {{!-- Div para input: estoque --}}
            <div id="input-estoque">
                <label for="nome"> Estoque </label>
                <input type="number" name="estoque" placeholder="Quantidade">
            </div>

            {{!-- Div para input: status --}}
            <div id="input-status">

                {{!-- Select de status (Boolean) --}}
                <label for="stays"> Status </label>
                <select name="status">
                    <option value="1" selected> Em estoque </option>
                    <option value="0"> Esgotado </option>
                </select>
            </div>
            <div id="button-submit-CadForm">
                <button type="submit"> Cadastrar </button>
            </div>
        </form>
    </div>

</div>